* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h4 {
  color: #1c1b57;
  font-weight: 800; }

.container-fluid {
  background-color: #f8f8fb; }
  .container-fluid .dashboard {
    padding: 3em; }
    @media (max-width: 399px) {
      .container-fluid .dashboard {
        padding: .5em; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .container-fluid .dashboard {
        padding: 1em; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .container-fluid .dashboard .card-columns {
        column-count: 2; } }
    @media (min-width: 1024px) {
      .container-fluid .dashboard .card-columns {
        column-count: 3; } }

.sidebar {
  background-image: linear-gradient(#1c1b57 37%, #252467 52%);
  color: #7c7ca4;
  width: 300px;
  height: 100vh;
  text-align: center; }
  .sidebar .container {
    padding: 3em 0 0em 0; }
    .sidebar .container .avatar {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 80px; }
    .sidebar .container h4 {
      margin-bottom: 3em;
      font-weight: bold;
      color: #fff; }
  .sidebar nav {
    background-color: #252467;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em; }
    .sidebar nav ul {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: space-evenly;
      margin-top: 30px; }
      .sidebar nav ul li {
        padding: 1em 1em;
        display: flex; }
        .sidebar nav ul li i {
          margin-right: 15px;
          font-size: 22px; }

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 399px) {
    .flex-box {
      display: block; } }

.card {
  border: none;
  background: transparent; }
  .card .card-container {
    background-color: #fff;
    padding: 2em 2em 2em 2em;
    border-radius: 2em;
    margin-bottom: 0.5em;
    box-shadow: 0px 0px 5px #ededef;
    color: #1c1b57; }
    .card .card-container p {
      color: #adadad; }
    .card .card-container h4 {
      font-weight: 800; }
    .card .card-container .calculator input {
      width: 50%; }
    .card .card-container .calculator .btn {
      margin-left: 1em; }
    .card .card-container .calculator .btn-reset {
      background-color: #1c1b57;
      color: #fff; }
      .card .card-container .calculator .btn-reset:hover {
        color: #1c1b57;
        background-color: #edafc2; }
      .card .card-container .calculator .btn-reset:focus {
        outline: none; }
      .card .card-container .calculator .btn-reset:active {
        outline: 0; }
    .card .card-container .goal h4 {
      margin-top: -15px; }
    .card .card-container .calendar {
      display: flex;
      justify-content: center;
      align-items: center; }
      .card .card-container .calendar .react-calendar {
        width: 100%;
        border: none; }
    .card .card-container .weather .temp-switch {
      cursor: pointer; }
    .card .card-container .weather .weather-icon p {
      text-transform: capitalize;
      margin-bottom: 1.5em; }
    .card .card-container .weather .weather-icon h4 {
      margin-top: -15px; }
    .card .card-container .quote p {
      margin-top: 1.5em; }
      .card .card-container .quote p:nth-child(even) {
        color: #1c1b57; }
      .card .card-container .quote p:last-child {
        text-align: right; }
    .card .card-container form input {
      border: none;
      border-bottom: 1px solid #dfdfdf;
      padding: 0.6em;
      margin-bottom: 1em;
      margin-top: 1em; }
      .card .card-container form input:focus {
        outline: none; }
      .card .card-container form input:active {
        outline: none; }

.todoAdd {
  margin-bottom: 2em; }
  .todoAdd .input-todo {
    width: 70%; }
  .todoAdd .btn {
    margin-left: .5em;
    color: #edafc2;
    font-size: 2em;
    transition: 0.25s all ease; }
    .todoAdd .btn:hover {
      color: #1c1b57; }
    .todoAdd .btn:active {
      outline: none; }

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em; }
  .todoItem p {
    margin-bottom: 0; }
  .todoItem .btn-del {
    color: #edafc2;
    transition: 0.25s all ease; }
  .todoItem:hover p,
  .todoItem:hover .btn-del {
    color: #1c1b57; }
